@charset "UTF-8";

@media screen and (max-width:1439px) {
    body{
        overflow-x: hidden;
    }
}/* max-width:1439px */


/* 태블릿 */
@media screen and (max-width:768px){
    
    /* HEADER */

    .header_inner{
        height: 50px;
        position: relative;
        justify-content: flex-end;
    }


    /* 햄버거 버튼 영역 */

    .mob_nav_btn{
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 20px;
        top: 25px;
        z-index: 15;
    }

    .mob_nav_btn i{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #777;
    }

    .mob_nav_btn i::after{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #777;
        position: absolute;
        left: 0;
        top: 5px;
    }
    .mob_nav_btn i::before{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #777;
        position: absolute;
        left: 0;
        top: -5px;
    }

    .select_language{
        display: none;
    }


    /* LOGO */

    .logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }

    .logo a img{
        width: 140px;
    }


    /* HEADER_LINK */

    .header_link a{
        display: none;
    }

    .header_link a.header_search{
        display: block !important;
        font-size: 20px;
    }


    /* NAV */

    .nav{
        display: none;
    }


    /* MOB_NAV */

    .mob_nav{
        display: block;
        width: 300px;
        height: 100%;
        background-color: #262626;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000;
        transition: all 0.5s;
    }

    .mob_nav.left_move{
        left: 0;
    }

    .m_nav_bg{
        width: calc(100% - 300px);
        background-color: rgba(0, 0, 0, .3);
        height: 100%;
        position: fixed;
        left: 300px;
        top: 0;
        display: none;
    }

    .side_nav_h{
        text-align: center;
        padding: 15px 0;
    }

    .side_nav_h a{}
    
    .side_nav_h img{
        width: 100px;
    }

    .m_nav_list{
        border-top: 1px solid #444;
    }

    .m_nav_list > li{}

    .m_nav_list > li > a{
        display: block;
        color: #ddd;
        font-size: 15px;
        padding: 12px 0 12px 15px;
        position: relative;
        font-weight: bold;
    }

    .icon-nav{
        display: block;
        width: 14px;
        height: 14px;
        /* background-color: red; */
        position: absolute;
        right: 15px;
        top: calc(50% - 7px);
    }

    .icon-nav::before{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #555;
        position: absolute;
        left: 50%;
        top: calc(50% - 1px);
        margin-left: 50%;
    }
    .icon-nav::after{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #555;
        position: absolute;
        left: 50%;
        top: calc(50% - 1px);
        transform: rotate(90deg);
        transition: all 0.3s;
        margin-left: 50%;
    }

    .m_nav_list > li > a.on .icon-nav::after{
        transform: rotate(0deg);
    }

    .m_sub{
        display: none;
    }
    .m_sub li{
        line-height: 1.6;
        border-bottom: 1px solid #444;
    }
    .m_sub li a{
        display: block;
        color: #999;
        font-size: 14px;
        padding: 12px 0 12px 30px;
    }

    /* MAIN */

    /* MAIN_VISUAL */

    .visual_wrap{
        width: 100%;
        height: 864px;
    }

    .visual_slide{
        width: 100%;
        height: 864px;
    }

    .visual_slide1{
        background: url("../img/visu_mo_01.jpg") no-repeat center center !important;
    }

    .visual_slide2{
        background: url("../img/visu_mo_02.jpg") no-repeat center center !important;
    }

    .visual_slide3{
        background: url("../img/visu_mo_03.jpg") no-repeat center center !important;
    }

    .visu_veli{
        width: 100%;
        height: 150px;
        left: 0;
        top: 714px;
        background-color: rgba(255, 0, 0, .1);
    }

    .visu_txt_wrap{
        width: 100%;
        height: 150px;
        left: 0;
        top: 714px;
    }

    .visu_txt_cont{
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
        line-height: 40px;
    }

    .visu_txt_sub01{
        text-align: center;
        margin: 0 auto;
        padding: 10px 0;
        font-size: 15px;
    }

    .visu_txt_sub02{
        display: none;
    }

    .visu_btn_wrap{
        display: none;
    }

    .visual_wrap .slick-dots{
        bottom: -30px;
    }

    .visual_wrap .slick-dots li button{
        width: 10px;
        height: 10px;
        background-color: #999;
    }

    .visual_wrap .slick-dots li.slick-active button{
        width: 30px;
        background-color: #444;
    }

    .visual_wrap .slick-arrow{
        top: 885px;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-color: rgba(0, 0, 0, .3);
    }

    /* CONTENT */

    .content{
        width: 100%;
    }
    
    .recommend{}

    .cont_title{
        font-size: 25px;
    }
    
    .recommend_tab{
        width: 100%;
    }

    .recommend_list li{
        width: 50%;
        padding: 0 1.2vw;
        height: 60vw;
    }

    .recommend_list.act{
        flex-wrap: wrap;
    }

    .recommend_img{
        border: 1px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vw;
    }

    .recommend_img img{
        width: 100%;
        height: 35vw;
    }

    .recommend_name{
        font-size: 3vw;
        margin-top: 3vw;
    }

    .buy_view_layer{
        opacity: 0;
    }


    /* LOUNGE */

    .lounge{
        padding: 6vw;
    }

    .lounge_cont{
        flex-wrap: wrap;
        height: 100%;
    }

    .lounge_cont img{
        width: 100%;
    }

    .lounge_txt_wrap{
        width: 100vw;
    }

    .lounge_txt_wrap h3{
        font-size: 4vw;
    }

    .lounge_txt_wrap .sub_tit{
        font-size: 6vw;
    }

    .lounge_txt_wrap .desc{
        font-size: 3vw;
        margin: 6vw 0 0;
    }

    .lounge_txt_wrap .btn_wrap a{
        margin-top: 1.5vw;
    }

    .lou02 .lounge_img{
        order: 1;
    }
    
    .lou02 .lounge_txt_wrap{
        order: 2;
    }

    
    /* FLAGSHIP */

    .flagship{
        margin-top: 5vw 0;
    }

    .flag_txt_wrap{
        position: static;
        width: 100vw;
        height: 50vw;
        background-image: url("../img/flag-bg-txt-mo.jpg");
        background-repeat: no-repeat;
    }


    /* FOOTER */

    #footer{}

    /* FOOTER_INNER */

    .footer_inner{
        width: 100%;
        padding: 0;
    }

    .f_left{
        display: none;
    }

    .f_right{
        justify-content: center;
        width: 100%;
        padding-bottom: 3vw;
    }

    .f_right a:first-child{
        display: none;
    }

    .f_right a i{
        font-size: 4vw;
    }

    .copy{
        text-align: center;
    }

}/* max-width:768px */
